.search-div{
    margin: 10px 20px;
    padding: 10px 20px;
    background-color: none;
    border: black

}

input[type=text]{
    width: 240px;
    height: 30px;
    margin-left: 20px;
    outline-color: black;
}
.changeBackground{
    background-color: #fad7a0;
}